.horizontal-article {
  display: flex;
  margin: auto;
  max-width: 1200px;
  padding: $spacer 0;

  h2 {
    @extend .article-title-japanese;

    font-weight: 100;
  }

  &__left {
    width: 40%;
    border-left: solid 3px $primary;
    padding-left: $spacer;
  }

  &__right {
    width: 60%;
    margin-left: $spacer--wide;
  }
}
