@import "~sass-mq";

.slider {
  .slider__container {
    text-align: center;
  }

  .slider__title {
    font-weight: 900;
    font-size: 4rem;
    color: #152568;
  }

  .slider__title--left {
    text-align: left;
  }

  .slider__title--right {
    text-align: right;
  }

  .slider__readmore {
    font-family: calluna-sans, sans-serif;
  }

  .slider__inner {
    padding: 2rem 1rem;

    @include mq($from: tablet) {
      display: grid;
      grid-template-areas: "left right";
      align-items: flex-start;
    }
  }

  .slider__single--left {
    grid-area: left;
  }

  .slider__single--right {
    grid-area: right;
    padding-left: $spacer;
  }

  .slider__columns--left {
    grid-area: left;
  }

  .slider__columns--right {
    grid-area: right;
  }

  .slider__single {
    padding-bottom: 2rem;

    @include mq($from: tablet) {
      position: sticky;
      top: 0;
    }

    img {
      max-height: 80vh;
      object-fit: cover;
    }

    h2 {
      @extend .sub-title-japanese;
    }

    span:last-child {
      display: none;
    }

    .entry__title a {
      font-size: 6rem;
      letter-spacing: -6px;
      line-height: 2.5rem;
    }
  }

  .slider__columns {
    @include mq($from: tablet) {
      columns: 2 11rem;
      column-fill: auto;
    }

    h2 {
      @extend .sub-title-japanese;

      font-size: 1.3125rem;
    }

    article {
      padding-bottom: 4rem;

      @include mq($from: tablet) {
        break-inside: avoid-column;
      }
    }
  }
}
