.footer {
  .footer__menu {
    margin-bottom: 1.5rem;

    @include mq($from: desktop) {
      display: flex;
      justify-content: flex-end;
    }
  }

  .footer__menu-item {
    padding: 0 1rem;
  }

  .footer__copyright-container {
    border-top: solid 1px black;
    padding-top: 2rem;
    align-items: center;
  }
}

