.footer {
  display: grid;

  .footer__menu {
    display: flex;
    justify-content: flex-end;
  }

  .footer__menu-text {
    padding: 0 1rem;
  }

  .footer__copyright-container {
    border-top: solid 1px black;
    padding-top: 2rem;
    align-items: center;
  }
}

