.header {
  .header__top {
    display: flex;
    justify-content: space-between;
    vertical-align: baseline;
    padding: 0.625rem 2rem 0;
  }

  .header__logo {
    display: flex;
  }

  .header__brand-title {
    font-size: 2rem;
    padding-left: 0.625rem;
  }

  .header__sex {
    display: flex;
    font-family: calluna-sans, sans-serif;
    letter-spacing: 0.9px;
    font-size: 1rem;
  }

  .header__sex-item {
    padding: 0.75rem;
  }

  .header__sitemap-item {
    display: flex;
    justify-content: space-between;
    font-family: calluna, serif;
    font-weight: 900;
    font-size: 1rem;
    color: black;
    letter-spacing: -0.5px;
  }
}
