.single-sec {
  height: 70vh;
  background-color: #f4efe7;

  .single-sec__container {
    padding: 8rem 0;
    text-align: center;
  }

  .single-sec__title {
    font-size: 5rem;
    font-weight: 900;
    color: #152568;
    letter-spacing: -2px;
  }

  .single-sec__discription {
    font-size: 1rem;
  }

  .single-sec__readmore-container {
    margin-top: 4rem;
  }

  .single-sec__icon {
    width: 50px;
  }
}
