.title {
  font-family: calluna, serif;
  font-weight: 900;
  font-size: 2.5rem;
  color: black;
  letter-spacing: -2px;
}

.article-title-japanese {
  font-family: source-han-sans-japanese, sans-serif;
  font-weight: 100;
  font-size: 2rem;
  letter-spacing: -0.9px;
}

.sub-title-japanese {
  font-family: source-han-sans-japanese, sans-serif;
  font-weight: 500;
}

.discription-japanese {
  font-family: source-han-sans-japanese, sans-serif;
  font-weight: 200;
  font-size: 0.75rem;
  letter-spacing: 0.6px;
}
